<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="6.0"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                        https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

  <filter>
    <filter-name>SecurityHeadersFilter</filter-name>
    <filter-class>open.dolphin.rest.SecurityHeadersFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter>
    <filter-name>SpaIndexSecurityFilter</filter-name>
    <filter-class>open.dolphin.rest.SpaIndexSecurityFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>open.dolphin.rest.LogFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter>
    <filter-name>CsrfProtectionFilter</filter-name>
    <filter-class>open.dolphin.rest.CsrfProtectionFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>SecurityHeadersFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SpaIndexSecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/resources/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/orca/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CsrfProtectionFilter</filter-name>
    <url-pattern>/resources/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CsrfProtectionFilter</filter-name>
    <url-pattern>/orca/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>
                open.dolphin.rest.AppoResource,
                open.dolphin.rest.KarteResource,
                open.dolphin.rest.KarteDocumentWriteResource,
                open.dolphin.rest.KarteRevisionResource,
                open.dolphin.rest.LetterResource,
                open.dolphin.rest.PVTResource,
                open.dolphin.rest.OrcaPatientApiResource,
                open.dolphin.rest.PatientModV2OutpatientResource,
                open.dolphin.rest.PatientModV2OutpatientMockResource,
                open.dolphin.rest.PatientImagesResource,
                open.dolphin.rest.AdminConfigResource,
                open.dolphin.rest.AdminAccessResource,
                open.dolphin.rest.AdminAccessPasswordResetResource,
                open.dolphin.rest.AdminMasterUpdateResource,
                open.dolphin.rest.AdminOrcaConnectionResource,
                open.dolphin.rest.AdminOrcaUserResource,
                open.dolphin.rest.AdminOrcaUserLinkResource,
                open.dolphin.rest.OrcaQueueResource,
                open.dolphin.rest.ReceptionRealtimeStreamResource,
                open.dolphin.rest.orca.OrcaMedicalResource,
                open.dolphin.rest.orca.OrcaDiseaseResource,
                open.dolphin.rest.orca.OrcaOrderBundleResource,
                open.dolphin.rest.orca.OrcaPatientResource,
                open.dolphin.rest.orca.OrcaPrescriptionOrderResource,
                open.dolphin.rest.orca.OrcaSubjectiveResource,
                open.dolphin.rest.orca.OrcaMedicalAdministrationResource,
                open.dolphin.rest.StampResource,
                open.dolphin.rest.SystemResource,
                open.dolphin.rest.UserResource,
                open.dolphin.rest.SessionAuthResource,
                open.dolphin.rest.LogoutResource,
                open.dolphin.rest.ChartEventStreamResource,
                open.dolphin.rest.orca.OrcaMedicalModV2Resource,
                open.orca.rest.OrcaResource,
                open.orca.rest.OrcaMasterResource,
                open.orca.rest.OrcaMasterReferenceStatusResource,
                open.dolphin.orca.rest.OrcaAppointmentResource,
                open.dolphin.orca.rest.OrcaVisitResource,
                open.dolphin.orca.rest.OrcaPatientLocalSearchResource,
                open.dolphin.orca.rest.OrcaPatientBatchResource,
                open.dolphin.orca.rest.OrcaPatientSyncResource
        </param-value>
    </context-param>

    <!-- RESTEasy JSON mapper is explicitly registered to support ORCA DTO LocalDate binding. -->
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
                open.dolphin.metrics.RequestMetricsFilter,
                open.dolphin.rest.jackson.ResteasyObjectMapperResolver
        </param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>
    
    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/resources</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>resteasy-orca-servlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/orca</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>resteasy-orca-servlet</servlet-name>
        <url-pattern>/orca/*</url-pattern>
    </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
    <cookie-config>
      <http-only>true</http-only>
      <secure>true</secure>
    </cookie-config>
  </session-config>
</web-app>
